.quali-top {
    margin: 20px 0 10px 0;
    display: flex;
    height: 50px;
}
.shikaku {
    font-size: 45px;
    // display: inline-block;
}

.explanation {
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    line-height: 20px;
    padding-right: 4em;
}

table {
    display: block;
    margin: 0 0 0 auto;
}

tr {
    border: 1px solid;
    height: 25px;
    th {
        border: 1px solid;
        padding: 2px;
    }
    td {
        border: 1px solid;
        padding: 2px;
    }
}