html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    // width: 88%;
    // margin: 0 auto;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul, ul li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

//ここから記述

.header-main {
    padding-top: 15px;
    width: 83%;
    margin: 0 auto;
    text-align: center;
}
.header-top {
    margin-bottom: 30px;
}
.header-logo {
    font-size: 40px;
    color: #32CBC8;
    text-decoration: none;
    display: inline-block;
}

.sub-logo {
    opacity: 0.7;
    margin-top: 5px;
}

.login {
    display: block;
    text-align: right;
}

.headnavi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        width: 20%;
        font-size: 1.5em;
        text-align: center;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        letter-spacing: 1px;
        a{
            color: black;
            padding: 10px 0;
            opacity: 0.8;
            text-decoration: none;
            display: block;
            cursor: pointer;
            // ホバーで濃くする
        }
    }
}

.headnavi li a:hover {
    background-color: whitesmoke;
    font-weight: bold;
}

.transe {
    height: 20px;
    background-color: #CAE65C;
}

.main-back {
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main {
    margin: 0 auto;
    width: 88%;
    display: flex;
    background-color: whitesmoke;
}
.left {
    flex: 3.5;
    padding: 0 20px;
    background-color: white;
}
.right {
    flex: 1;
    border-left: 5px dotted #CAE65C;
    height: 1050px;
    background-color: white;
    padding-top: 30px;
}

.rank, .right-menu {
    width: 100%;
    height: 280px;
    padding: 10px 0 0 15px;
    h3 {
        margin-bottom: 25px;
        font-size: 20px;
    }
    li {
        margin-bottom: 20px;
    }
}

.ad {
    display: block;
    width: 100%;
    height: 200px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

footer {
    background-color: whitesmoke;
    text-align: center;
}

.foot {
    padding-top: 35px;
}

.foot-logo {
    font-size: 30px;
    color: #32CBC8;
}

.foot-form {
    display: inline-block;
    color: black;
    margin-top: 15px;
}

.copyright {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid;
    opacity: 0.5;
}
//掲示板と体験談切り替えメニュー
.switch-menu {
    height: 40px;
    // border: 1px solid;
    display: flex;
    margin-bottom: 30px;
    a {
        border: 1px solid black;
        width: 50%;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        padding-top: 8px;
        background-color: #32CBC8;
        color: black;
    }
}

.switch {
    opacity: 0.5;
    background-color: rgba(50, 203, 200, 0.5);
}

.switch:hover {
    font-weight: bold;
    background-color: #CAE65C;
}




//タブレット
@media screen and (max-width:780px){
.header-main {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.main {
    width: 90%;
}
}

//スマートフォン
@media screen and (max-width:480px){
.header-main {
    width: 100%;
}
.header-top {
    display: flex;
}
.fon-top {
    display: block;
    flex: 1;
}
.sub-logo {
    display: none;
}
.login {
    padding: 8px 20px 0 0;
}
.main {
    display: block;
}
.right {
    display: none;
}
.main-back {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}
}