.postfrom-tittle {
    margin-top: 30px;
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 2px solid #CAE65C;
}

form {
    font-size: 20px;
    margin-top: 30px;
}

.box {
    margin-bottom: 40px;
    border-bottom: 1px solid black;
    span {
        width: 30%;
        display: inline-block;
    }
    p{
        margin-bottom: 15px;
    }
    input {
        height: 100%;
        margin-bottom: 5px;
    }
    select {
        height: 100%;
        margin-bottom: 5px;
        font-size: 18px;
    }
}

.box-selection {
    display: inline-block;
}

.must {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}

.btn {
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
}

.purpose {
    height: 100%;
}

.material {
    height: 140px;
}

.body {
    height: 280px;
}


.post-btn {
    text-align: center;
}

button {
    width: 35%;
    margin-bottom: 8%;
    font-size: 25px;
    height: 40px;
}

.selected {
    background-color: gray;
}
