.container {
    padding-top: 30px;
}

dl {
    display: flex;
    flex-wrap: wrap;
    .articles {
        width : calc(100% / 3);
        a {
            display: block;
            margin-right: 10px;
        }
    }
}

.article {
    border: 1px solid;
    height: 300px;
    margin-bottom: 150px;
    // はみ出した文字を隠す
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    dt {
        color: yellowgreen;
        font-size: 25px;
        text-align: center;
        padding-bottom: 50px;
        border-bottom: 1px solid;
    }
}

.link {
    font-size: 25px;
    text-align: right;
}
