.main {
    display: flex;
    width: 88%;
    margin: 0 auto;
}

.left {
    flex: 3;
    background-color: whitesmoke;
    dl {
        display: grid;
        grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        dt {
            color: yellowgreen;
        }
    }
}

.right {
    flex: 1;
    background-color: yellow;
}